.border{
	border-style: outset;
	border-color: #ffffff;
	border-width: 3px;
	width: 250px;
	margin: 0em 0em 0em 0em;
}

.border1{
	border-style: outset;
	border-color: #ffffff;
	border-width: 3px;
	text-align: right;
	width: 150px;
	margin: 0em 0em 0em 0em;
}

.border2{
	border-style: outset;
	border-color: #ffffff;
	border-width: 3px;
	width: 500px;
	margin: 0em 0em 0em 0em;
}

.border3{
	border-style: outset;
	border-color: #ffffff;
	border-width: 3px;
	text-align: right;
	width: 13em;
	margin: 0em 0em 0em 0em;
	
}

table.break{
	page-break-before: always;
}

td.l{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
